@use "@styles" as *;

#container-dashboard {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  > .container-content {
    display: flex;
    width: 100%;
    max-width: $application-max-width;
    height: 100%;
    flex-direction: column;

    > .title {
      font-size: 32px;
      color: $mint-cream;
      margin-bottom: 40px;

      > .user {
        color: $royal-gold;
      }
    }

    > .container-cards {
      display: flex;
      flex-flow: wrap;
      width: 100%;
      margin-bottom: 30px;
    }

    > .container-games {
      display: flex;
      flex-direction: column;

      > .container-title {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;

        > .text {
          font-size: 24px;
          color: $mint-cream;
          margin: 0 15px;
        }

        > .border {
          height: 2px;
          display: flex;
          background-color: $graphite;
          border-radius: 10px;
          flex: 1;
          margin-top: 3px;
        }
      }

      > .container-groups {
        display: flex;
        flex-flow: wrap;
        width: 100%;
      }
    }
  }

  @include mobile {
    > .container-content {
      align-items: center;

      > .container-cards {
        justify-content: center;
      }

      > .container-games {
        > .container-groups {
          justify-content: center;
        }
      }
    }
  }
}
