@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$font-base: "Open Sans", sans-serif;
$application-max-width: 1300px;
$mint-cream: #f7fff7ff;
$graphite: #343434ff;
$twilight-indigo: #2f3061ff;
$royal-gold: #ffe66dff;
$steel-blue: #6ca6c1ff;
$light-green: #90ee90;
$dark-green: #0b950b;
$black: black;
$white: white;
$header-height: 60px;
$clear-text: #828382;
$confirm-button-height: 91px;
