@use "@styles" as *;

#container-my-group-id {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: $confirm-button-height;
  position: relative;

  > .container-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: $application-max-width;
    width: 100%;

    > .container-upper {
      align-items: center;
      border-bottom: 1px solid $graphite;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-bottom: 30px;
      width: 100%;

      > .container-title {
        align-items: center;
        display: flex;

        > .title {
          color: $mint-cream;
          font-size: 32px;
          margin-right: 5px;
        }

        > .button {
          align-items: center;
          background-color: $graphite;
          border-radius: 5px;
          border: 1px solid $mint-cream;
          cursor: pointer;
          display: flex;
          height: 30px;
          justify-content: center;
          width: 30px;

          > .holder {
            align-items: flex-end;
            display: flex;
            justify-content: center;
            width: 100%;

            > .rank {
              background: $mint-cream;
              width: 15px;

              &.one {
                height: 5px;
              }

              &.two {
                height: 10px;
              }

              &.three {
                height: 15px;
              }
            }
          }

          > .pool {
            color: $mint-cream;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      > .container-actions {
        display: flex;

        > .container-game-code {
          background-color: $graphite;
          border: 1px solid $royal-gold;
          cursor: text;
          display: flex;
          flex-direction: column;
          padding: 10px 25px;

          > .text {
            color: $mint-cream;
            font-size: 16px;
          }

          > .code {
            color: $royal-gold;
            font-size: 30px;
            letter-spacing: 5px;
            text-transform: uppercase;
          }
        }
      }
    }

    > .container-ranking-button {
      display: flex;
      margin-bottom: 10px;
      width: 100%;

      > .ranking-button {
        align-items: center;
        background-color: $graphite;
        border-radius: 8px;
        border: 1px solid $mint-cream;
        color: $mint-cream;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        height: 40px;
        justify-content: center;
        width: 90px;
      }
    }
  }

  @include mobile {
    > .container-content {
      align-items: center;

      > .container-upper {
        flex-direction: column;

        > .container-title {
          margin-bottom: 15px;
        }
      }
    }
  }
}
