@use "@styles" as *;

#container-matchs-component {
  display: flex;
  flex-direction: column;
  width: 100%;

  > .container-day-matchs {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;

    > .container-header {
      display: flex;
      align-items: center;
      border: 0.5px solid $mint-cream;
      border-radius: 5px;
      padding: 8px;
      margin-bottom: 10px;

      > .text {
        font-size: 14px;
        color: $mint-cream;
        text-transform: capitalize;
      }
    }

    > .container-match {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $graphite;
      padding: 10px;
      border: 0.5px solid $mint-cream;
      margin-bottom: 10px;
      border-radius: 10px;

      > .container-info {
        display: flex;
        flex-direction: column;

        > .info {
          font-size: 12px;
          color: $clear-text;
        }

        > .date {
          font-size: 16px;
          color: $mint-cream;
        }

        > .status {
          font-size: 14px;
          color: $clear-text;
        }
      }

      > .container-teams {
        display: flex;
        align-items: center;

        > .team {
          color: $mint-cream;
          font-size: 16px;
          margin-right: 10px;
          text-align: end;
          width: 252px;
          text-overflow: ellipsis;

          &.right {
            margin: 0 0 0 10px;
            text-align: start;
          }
        }

        > .acronym {
          font-size: 20px;
          color: $mint-cream;
        }

        > .input {
          width: 40px;
          height: 40px;
          border: 1px solid $mint-cream;
          background-color: $black;
          color: $mint-cream;
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 20px;
        }

        > .versus {
          font-size: 18px;
          color: $mint-cream;
        }
      }

      > .container-status {
        display: flex;
        justify-content: center;
        align-items: center;

        > .status {
          color: $mint-cream;
        }
      }
    }
  }

  @include match-card-mobile {
    > .container-day-matchs {
      > .container-match {
        flex-direction: column;
        width: 100%;

        > .container-info {
          flex-direction: row;

          > .info {
            font-size: 16px;
            color: $mint-cream;
            margin-right: 10px;
          }

          > .date {
            margin-right: 10px;
          }

          > .status {
            font-size: 16px;
            color: $mint-cream;
          }
        }

        > .container-teams {
          > .team {
            font-size: 14px;
            width: 100px;
          }
        }
      }
    }
  }
}
