@use "@styles" as *;

@mixin card-status($color) {
  border-color: $color;

  > .container-status {
    > .status {
      color: $color;
    }
  }

  > .container-info {
    > .info,
    > .date,
    > .status {
      color: $color;
    }
  }

  > .container-teams {
    > .container-team-info {
      > .team,
      > .acronym {
        color: $color;
      }
    }

    > .input {
      color: $color;
    }

    > .input {
      border-color: $color;
    }

    > .versus {
      color: $color;
    }
  }
}

#container-matchs-component {
  display: flex;
  flex-direction: column;
  width: 100%;

  > .container-day-matchs {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;

    > .container-header {
      align-items: center;
      border-radius: 5px;
      border: 0.5px solid $mint-cream;
      display: flex;
      margin-bottom: 10px;
      padding: 8px;

      > .text {
        color: $mint-cream;
        font-size: 14px;
        text-transform: capitalize;
      }
    }

    > .container-match {
      align-items: center;
      background-color: $graphite;
      border-radius: 10px;
      border: 0.5px solid $mint-cream;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;

      &.perfect {
        @include card-status($royal-gold);
      }

      &.correct {
        @include card-status($dark-green);
      }

      &.wrong {
        @include card-status($muted-red);
      }

      &.without {
        opacity: 0.5;
      }

      > .container-info {
        display: flex;
        flex-direction: column;

        > .info {
          color: $clear-text;
          font-size: 12px;
        }

        > .date {
          color: $mint-cream;
          font-size: 16px;
        }

        > .status {
          color: $clear-text;
          font-size: 14px;
        }
      }

      > .container-teams {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;

        > .container-team-info {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: relative;
          width: 50%;

          &.right {
            justify-content: flex-start;
            margin-left: 10px;

            > .button {
              left: 0;
              right: unset;
            }
          }

          > .team {
            color: $mint-cream;
            font-size: 16px;
            margin-right: 10px;
            max-width: 90px;
            overflow: hidden;
            text-align: end;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          > .acronym {
            color: $mint-cream;
            font-size: 20px;
            width: 45px;
          }

          > .button {
            position: absolute;
            bottom: -20px;
            background-color: transparent;
            border-radius: 10px;
            border: none;
            color: $mint-cream;
            cursor: pointer;
            padding: 0;
            right: 0;
            border: 1px solid $mint-cream;
            padding: 1px 10px;
          }
        }

        > .input {
          align-items: center;
          background-color: $black;
          border: 1px solid $mint-cream;
          color: $mint-cream;
          display: flex;
          font-size: 20px;
          height: 40px;
          justify-content: center;
          margin: 10px;
          text-align: center;
          width: 40px;
        }

        > .versus {
          color: $mint-cream;
          font-size: 18px;
        }
      }

      > .container-status {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        min-width: 110px;

        > .status {
          color: $mint-cream;
        }
      }
    }
  }

  @include match-card-mobile {
    > .container-day-matchs {
      > .container-match {
        flex-direction: column;
        width: 100%;

        > .container-info {
          flex-direction: row;

          > .info {
            color: $mint-cream;
            font-size: 16px;
            margin-right: 10px;
          }

          > .date {
            margin-right: 10px;
          }

          > .status {
            color: $mint-cream;
            font-size: 16px;
          }
        }

        > .container-teams {
          justify-content: center;
          width: 100%;
        }

        > .container-status {
          justify-content: center;
        }
      }
    }
  }

  @media (max-width: 500px) {
    > .container-day-matchs {
      > .container-match {
        > .container-teams {
          > .container-team-info {
            > .team {
              display: none;
            }
          }
        }
      }
    }
  }
}
