@use "@styles" as *;

#container-stages-page {
  align-items: center;
  border-radius: 10px;
  border: 1px solid $graphite;
  display: flex;
  margin-bottom: 30px;
  padding: 14px 16px;
  width: 100%;

  > .button {
    align-items: center;
    background-color: $graphite;
    border-radius: 50%;
    border: none;
    display: flex;
    display: none;
    height: 28px;
    width: 28px;

    &.prev {
      transform: rotate(180deg);
    }

    svg {
      color: $royal-gold;
      height: 28px;
      width: 28px;
    }
  }

  > .viewport {
    overflow: hidden;
    padding: 0 15px;
    width: 100%;

    > .container {
      display: flex;
      gap: 16px;

      > .container-stage {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid $graphite;
        color: $mint-cream;
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        font-size: 14px;
        margin-right: 8px;
        outline: none;
        padding: 5px 10px;
        width: max-content;

        &.selected {
          background-color: $royal-gold;
          border-color: $royal-gold;
          color: $black;
        }

        &:last-child {
          margin-right: 0;
        }

        > .text {
          color: $mint-cream;
          font-size: 12px;
        }
      }
    }
  }

  @include stages-carousel-mobile {
    > .button {
      display: flex;
    }
  }
}
