@use "@styles" as *;

#container-card {
  background-color: $graphite;
  border-radius: 8px;
  border: 1px solid $mint-cream;
  border-top: none;
  display: flex;
  flex-direction: column;
  height: 125px;
  margin: 0 25px 25px 0;
  padding: 20px 20px 20px 20px;
  position: relative;
  width: 260px;

  > .border {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.blue {
      background-color: $steel-blue;
    }

    &.indigo {
      background-color: $twilight-indigo;
    }

    &.green {
      background-color: $light-green;
    }
  }

  > .title {
    color: $mint-cream;
    font-size: 20px;
    margin-bottom: 20px;
  }

  > .points {
    color: $royal-gold;
    font-size: 30px;
    margin-bottom: 20px;
  }

  > .description {
    color: $mint-cream;
    font-size: 16px;
  }
}
